html{
  font-family: "roboto";
}
.cartfruitCard {
  flex-direction: row;
  margin: 1rem;
  width: 10rem;
}
.cartprice {
  margin-top: 1rem;
  font-weight: bold;
}
.cartfruitCardDescription {
  width: 10rem;
  height: 5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.cartfruitCardDescription p {
  padding-left: 1rem;
  font-size: 1.1rem;
}
.cartitemtotal{
  margin-top: 2rem;
}
.cartquantity {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  width: 5rem;
}
.cartquantity p {
  margin: 0px;
  padding: 0px;
}
.cartfruitCard button {
  font-size: 2rem;
  width: 5rem;
}