html{
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
}
body{
  background-color: #ddd;
}
.fruitContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
}
.fruitContainer::after{
  content: '';
  flex: auto;
}

